/* common css start*/
*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Open Sans', sans-serif;
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.text_center{
    text-align: center;
}
.container{
    width: 1140px;
    margin: 0 auto;   
}
.sec_ttl h2{
    color: #181818;
    font-size: 35px;
    font-weight: 700;
    margin: 30px;
}
.sec_ttl p{
    color: #757575;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px ;
}
.btn{
    color:#fff;
    background-color: #FD6E0A;
    padding: 15px 30px;
    border:1px solid #FD6E0A;
    border-radius: 5px;
    font-weight: 700;
    font-size: 16px;
    transition: .3s all linear;
}
.btn:hover{
    color:#FD6E0A;
    background-color: #fff;
    border:1px solid #FD6E0A;
}
/* common css End*/
/* header section start */
#header{
    background: #FFF8F3;
    background-image: url(../images/developer.png),url(../images/header_bg.png);
    background-repeat: no-repeat,no-repeat;
    background-position: left ,bottom right;
}
.nav{
    display: flex;
    justify-content: space-between;
    padding: 50px 200px;
}
.nav_ttl{
    font-weight: 800;
    font-size: 45px;
}
.nav li{
    margin: 0 20px;
}
.highlight{
    color:#FD6E0A;
}
.banner{
    margin: 0px 20px 0px 200px;

}
.banner_ttl{
    color: #181818;
    font-size: 85px;
    font-weight: 700;
    margin-bottom: 20px;

}
.banner_sub_ttl{
    color: #474747;
    font-size: 45px;
    font-weight: 600;
    margin-bottom: 20px;


}
.banner_info{
    color: #757575;
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}

/* header section end */
/* about_us section start */
#about_us {
    margin: 100px 0;
}
#about_us .container{
    background-color: #FFF8F3;
    padding: 100px;
    border-radius: 10px;
}
.about_Us_info_title{
    color:#757575;
    font-size: 20px;
    font-weight: 400;
}
.about_Us_info_dis{
    color:#474747;
    font-size: 20px;
    font-weight: 700;
}
/* about_us section end */
/* what do section start */
#what_iam .sec_ttl p{
    padding: 0 50px;
}
.what_iam_info_dis{
    border-radius: 5px;
    background: #FFF;
    margin: 10px;
    padding: 20px;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.10);
}
.what_iam_info_dis img{
    margin-bottom:20px ;
}
.what_iam_info_dis h4{
    margin-bottom:20px ;
    font-size: 20px;
    font-weight: 700;
    color: #181818;
}
.what_iam_info_dis p{
    margin-bottom:20px ;
    color:#757575;
    font-size: 16px;
    font-weight: 400;
    padding-right: 30px;
    line-height: 30px;
}
/* what do section end  */
/* resume section start */
#resume_sec{
    margin: 100px 0;
}
.resume_ttl{
    color:#474747;
    font-size: 30px;
    font-weight: 700;
    margin:20px 0;
}
.resume_items{
    display: flex;
    justify-content: space-around
}
#resume_sec .item{
    border-bottom: 1px solid #D1D1D1;
    margin: 30px 100px 30px 0;
}
#resume_sec .item_ttl{
    color:#474747;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 10px;
}
#resume_sec .item_sub_ttl{
    color: #757575;
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;

}
#resume_sec .item_info{
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
    padding-right:30px ;
}
#resume_sec .btn_center{
    margin: 0 auto;
}
/* contact section start */
#contact{
    background: #FFF8F3;
    padding: 50px 0;
}
#contact .contact_ttl h3{
    color: #181818;
    font-size: 35px;
    font-weight: 700;
    margin-bottom: 30px;
}
#contact .contact_ttl p{
    color: #757575;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 30px ;
}
.contact_item{
    display: flex;
    gap:100px;
}
.contact_ttl input[type=text],input[type=email],textarea{
    margin-bottom: 20px;
    width: 100%;
    border: 0;
    padding: 18px 30px;
    color:#757575;
    font-size: 16px;
    font-weight: 400;
    border-radius: 10px;

}
/* resume section end */
